img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0px;
  padding: 0px;
}

address {
  font-style: normal;
}

:root {
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Montserrat", sans-serif;
}

.container {
  width: 1174px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
  display: flex;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 56px;
  height: 56px;
  color: white;
}

.header-list {
  display: flex;
  gap: 48px;
}

.header-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #fcfcfb;
  display: flex;
}

.header-button {
  border: 1px solid #fcfcfb;
  border-radius: 8px;
  padding: 4px 29px;
  width: 152px;
  height: 40px;
  background: #2e2b23;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #fcfcfb;
}

.main-page {
  padding-top: 32px;
  padding-bottom: 100px;
}

.main-page-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 72px;
  color: #7e6d53;
  display: flex;
  margin-bottom: 6px;
  justify-content: center;
}

.main-page-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #7e6d53;
  display: flex;
  justify-content: center;
  margin-bottom: 382px;
}

.main-page-btn {
  border-radius: 16px;
  padding: 14px 28px;
  width: 256px;
  height: 54px;
  background-color: #fcfcfb;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #2d2a22;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.philosophy-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #7e6d53;
}

.philosophy-title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #2d2a22;
}

.philosophy-info {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #7e6d53;
}

.galery {
  background-color: #EDE9E3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.galery-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  color: #7e6d53;
  margin-bottom: 20px;
}

.galery-box {
  display: flex;
  align-items: center;
  gap: 32px;
}

.galery-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.get_in_touch {
  background-color: #EDE9E3;
  padding-top: 100px;
  padding-bottom: 100px;
}

.get_in_touch_tex {
  font-family: var(--font-family);
  font-weight: 500;
  text-align: center;
  padding-bottom: 8px;
  font-size: 40px;
  color: #7e6d53;
}

.get_in_touch_text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #7e6d53;
  text-align: center;
}

.contact {
  border-radius: 16px;
  padding: 23px 0px 45px 0px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 700px;
  background-color: #7E6D53;
}

.contact-list {
  margin-left: 74px;
}

.contact-item {
  padding-top: 24px;
}

.contact-p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
}

.contact-butt {
  border-radius: 8px;
  padding: 6px 0px;
  height: 54px;
  border: none;
  width: 224px;
  font-weight: 300;
  cursor: pointer;
  font-size: 24px;
  color: #7e6d53;
  margin-top: 52px;
  margin-left: 124px;
}

.footer {
  padding-top: 32px;
  padding-bottom: 42px;
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
  position: relative;
}

.footer > .container {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 56px;
  height: 56px;
  fill: #fff;
}

.footer-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-menu-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #fffefe;
}

.footer-contakts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.privacy-policy {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.privacy-policy {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #979797;
}

.social-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.social-svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.footer-box4 {
  position: absolute;
  bottom: 0px;
}

.appartaments-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  color: #7e6d53;
}

.appartaments-title3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 121%;
  color: #2d2a22;
}

.appartaments-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #7e6d53;
}

.appartaments-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: #fcfcfb;
  border-radius: 16px;
  padding: 14px 28px;
  width: 264px;
  height: 58px;
  background: #7e6d53;
}

.appartaments-button:hover,
.appartaments-button:focus {
  color: #7e6d53;
  background-color: antiquewhite;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */