img {
    display: block;
    width: 100%;
    height: auto;
    }
    
    a {
    text-decoration: none;
    }
    
    li {
    list-style: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    p {
    margin: 0px;
    padding: 0px;
    }
    
    address {
    font-style: normal;
    }

    :root {
        --font-family: "Poppins", sans-serif;
        --second-family: "Inter", sans-serif;
        --third-family: "Montserrat", sans-serif;
      }