.footer {
  padding-top: 32px;
  padding-bottom: 42px;
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
  position: relative;
}

.footer > .container {
  display: flex;

  @media screen and (min-width: 320px) {
    margin-bottom: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1174px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.footer-box1 {
  display: flex;
  @media screen and (min-width: 320px) {
    gap: 46px;
  }
  @media screen and (min-width: 768px) {
    gap: 83px;
  }

  @media screen and (min-width: 1174px) {
    gap: 208px;
  }
}

.footer-box {
  @media screen and (min-width: 320px) {
    width: 135px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1174px) {
  }
}

.logo {
  width: 56px;
  height: 56px;
  fill: #fff;

  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.footer-title {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 16px;
}

.footer-list-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-menu-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #fffefe;
}

.footer-contakts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.privacy-policy {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}

.privacy-policy {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 121%;
  color: #979797;
}

.social-list {
  display: flex;

  @media screen and (min-width: 320px) {
    flex-direction: row;
    gap: 20px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    gap: 30px;
  }

  @media screen and (min-width: 1174px) {
    flex-direction: column;
    gap: 30px;
  }
}

.social-svg {
  width: 40px;
  height: 40px;
  fill: #fff;
}

.footer-box4 {
  position: absolute;
  bottom: 10px;

  @media screen and (min-width: 320px) {
    right: 20px;
  }

  @media screen and (min-width: 768px) {
    right: 100px;
  }

  @media screen and (min-width: 1174px) {
  right: 300px;
  }
}
