.header {
  background: linear-gradient(213deg, #2d2a22 0%, #7e6d53 100%);
  display: flex;

    @media screen and (min-width: 320px) {
        padding-top: 28px;
        padding-bottom: 28px;
      }
    
      @media screen and (min-width: 768px) {
      padding-top: 22px;
        padding-bottom: 22px;
      }
    
      @media screen and (min-width: 1174px) {
      padding-top: 40px;
        padding-bottom: 40px;
      }
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 56px;
  height: 56px;
  color: white;
}

.header-list {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 32px;
  }

  @media screen and (min-width: 1174px) {
    display: flex;
    gap: 48px;
  }
}

.header-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  color: #fcfcfb;
  display: flex;
}

.header-button {
  @media screen and (min-width: 320px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1174px) {
    display: block;
    border: 1px solid #fcfcfb;
    border-radius: 8px;
    padding: 4px 29px;
    width: 152px;
    height: 40px;
    background: #2e2b23;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #fcfcfb;
  }
}
