.main-page {
  padding-top: 32px;
  padding-bottom: 100px;
  background-image: url(../../img/main-pages.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;

}

.main-page-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 72px;
  color: #7e6d53;
  display: flex;
  margin-bottom: 6px;
  justify-content: center;
}

.main-page-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #7e6d53;
  display: flex;
  justify-content: center;
  margin-bottom: 382px;
}

.main-page-btn {
  border-radius: 16px;
  padding: 14px 28px;
  width: 256px;
  height: 54px;
  background-color: #fcfcfb;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #2d2a22;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
