.philosophy{
  background-image: url(../../img/philosophy.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1280px;
  height: 630px;
  margin-left: auto;
  margin-right: auto;
}

.philosophy > .container{
  display: flex;
}

.philosophy-bg{
  background: #fcfcfb;
    opacity: 0.9;
    padding: 45px 161px;
      width: 1280px;
      height: 340px;
      display: flex;
    
}

.philosophy-list{
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.philosophy-list > .item{
  flex-basis: calc((100% - 72px) / 2);
}

.philosophy-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #7e6d53;
}

.philosophy-box{
  display: flex;
  flex-direction: column;
}

.philosophy-title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #2d2a22;
}

.philosophy-info {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  color: #7e6d53;
}