.philosophy-text{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
color: #7e6d53;
}

.philosophy-title{
font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: #2d2a22;
}

.philosophy-info{
font-family: var(--font-family);
font-weight: 300;
font-size: 16px;
color: #7e6d53;
}